<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="example-fill-remaining-space"></span>
    <span class="example-spacer"></span>
    <button mat-button>About</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Registration Successful!</mat-card-title>
    <mat-card-subtitle>Here's your user Id:</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
  User ID: <b>{{userId}}</b>
    <p>
      Always use this ID to login to sbNotes app.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button routerLink="/login" color="primary" routerLinkActive="active">Login</button>
  </mat-card-actions>
</mat-card>